.card{
    background-color: #c6f6d5;
}

.card-body{
    background-color: #c6f6d5;
}

div{
    background-color: #c6f6d5;
}

ion-label{
    background-color: #c6f6d5;
}

ion-item{
    background-color: #c6f6d5;
}